In [2]:
import genomic_features as gf

/Users/felixraimundo/Library/Application Support/hatch/env/virtual/genomic-features/KcSbK2dP/genomic-features/lib/python3.9/site-packages/urllib3/__init__.py:35: NotOpenSSLWarning: urllib3 v2 only supports OpenSSL 1.1.1+, currently the 'ssl' module is compiled with 'LibreSSL 2.8.3'. See: https://github.com/urllib3/urllib3/issues/3020
  warnings.warn(

In [3]:
%load_ext autoreload
%autoreload 2

In [4]:
ucscdb = gf.ucsc.annotation(
    species="Hsapiens",
    assembly="hg38",
    ucsc_table="knownGene",
    bioc_version="3.18",
)
ucscdb

UCSCDB(organism='Homo sapiens', ucsc_track='GENCODE V44', genome='hg38', ucsc_table='knownGene')

In [11]:
ucscdb.metadata

{'Db type': 'TxDb',
 'Supporting package': 'GenomicFeatures',
 'Data source': 'UCSC',
 'Genome': 'hg38',
 'Organism': 'Homo sapiens',
 'Taxonomy ID': '9606',
 'UCSC Table': 'knownGene',
 'UCSC Track': 'GENCODE V44',
 'Resource URL': 'http://genome.ucsc.edu/',
 'Type of Gene ID': 'Entrez Gene ID',
 'Full dataset': 'yes',
 'miRBase build ID': None,
 'Nb of transcripts': '276905',
 'Db created by': 'GenomicFeatures package from Bioconductor',
 'Creation time': '2023-09-20 17:25:17 +0000 (Wed, 20 Sep 2023)',
 'GenomicFeatures version at creation time': '1.53.2',
 'RSQLite version at creation time': '2.3.1',
 'DBSCHEMAVERSION': '1.2'}

In [6]:
for tbl_name in ucscdb.db.list_tables():
    print(tbl_name, ucscdb.db.table(tbl_name).schema())

cds ibis.Schema {
  _cds_id     int32
  cds_name    string
  cds_chrom   !string
  cds_strand  !string
  cds_start   !int32
  cds_end     !int32
}
chrominfo ibis.Schema {
  _chrom_id    int32
  chrom        !string
  length       int32
  is_circular  int32
}
exon ibis.Schema {
  _exon_id     int32
  exon_name    string
  exon_chrom   !string
  exon_strand  !string
  exon_start   !int32
  exon_end     !int32
}
gene ibis.Schema {
  gene_id  !string
  _tx_id   !int32
}
metadata ibis.Schema {
  name   string
  value  string
}
splicing ibis.Schema {
  _tx_id     !int32
  exon_rank  !int32
  _exon_id   !int32
  _cds_id    int32
  cds_phase  int32
}
transcript ibis.Schema {
  _tx_id     int32
  tx_name    string
  tx_type    string
  tx_chrom   !string
  tx_strand  !string
  tx_start   !int32
  tx_end     !int32
}

In [57]:
ucscdb.db.table("transcript").execute()

,_tx_id,tx_name,tx_type,tx_chrom,tx_strand,tx_start,tx_end
0,1,ENST00000456328.2,None,chr1,+,11869,14409
1,2,ENST00000450305.2,None,chr1,+,12010,13670
2,3,ENST00000473358.1,None,chr1,+,29554,31097
3,4,ENST00000469289.1,None,chr1,+,30267,31109
4,5,ENST00000607096.1,None,chr1,+,30366,30503
...,...,...,...,...,...,...,...
276900,276901,ENST00000710260.1,None,chrX_MU273397v1_alt,-,239036,260095
276901,276902,ENST00000710028.1,None,chrX_MU273397v1_alt,-,272358,282686
276902,276903,ENST00000710030.1,None,chrX_MU273397v1_alt,-,314193,316302
276903,276904,ENST00000710216.1,None,chrX_MU273397v1_alt,-,314813,315236
276904,276905,ENST00000710031.1,None,chrX_MU273397v1_alt,-,324527,324923

In [20]:
tx = ucscdb.transcripts()
tx

         tx_id            tx_name                chrom strand   start     end
0            1  ENST00000456328.2                 chr1      +   11869   14409
1            2  ENST00000450305.2                 chr1      +   12010   13670
2            3  ENST00000473358.1                 chr1      +   29554   31097
3            4  ENST00000469289.1                 chr1      +   30267   31109
4            5  ENST00000607096.1                 chr1      +   30366   30503
...        ...                ...                  ...    ...     ...     ...
276900  276901  ENST00000710260.1  chrX_MU273397v1_alt      -  239036  260095
276901  276902  ENST00000710028.1  chrX_MU273397v1_alt      -  272358  282686
276902  276903  ENST00000710030.1  chrX_MU273397v1_alt      -  314193  316302
276903  276904  ENST00000710216.1  chrX_MU273397v1_alt      -  314813  315236
276904  276905  ENST00000710031.1  chrX_MU273397v1_alt      -  324527  324923

[276905 rows x 6 columns]

In [26]:
exons = ucscdb.exons()
exons

        exon_id                chrom strand   start     end
0             1                 chr1      +   11869   12227
1             2                 chr1      +   12010   12057
2             3                 chr1      +   12179   12227
3             4                 chr1      +   12613   12697
4             5                 chr1      +   12613   12721
...         ...                  ...    ...     ...     ...
734617   734618  chrX_MU273397v1_alt      -  314193  314248
734618   734619  chrX_MU273397v1_alt      -  314813  315236
734619   734620  chrX_MU273397v1_alt      -  315258  315407
734620   734621  chrX_MU273397v1_alt      -  316254  316302
734621   734622  chrX_MU273397v1_alt      -  324527  324923

[734622 rows x 5 columns]

In [31]:
df = ucscdb.genes()
df

          gene_id  _tx_id
0            6011  264219
1            6011  264220
2       100130386  264224
3           65265  271292
4           65265  271293
...           ...     ...
235520      55657   22459
235521      55657   22460
235522      55657   22461
235523      55657   22462
235524      55657   22463

[235525 rows x 2 columns]

In [34]:
s = ucscdb.db.table("splicing").execute()

In [53]:
s

         _tx_id  exon_rank  _exon_id  _cds_id cds_phase
0             1          1         1      NaN      None
1             1          2         5      NaN      None
2             1          3         8      NaN      None
3         11639          1     31607      NaN      None
4             3          1        10      NaN      None
...         ...        ...       ...      ...       ...
1788955  274847          2    729350      NaN      None
1788956  274847          3    729351      NaN      None
1788957  274847          4    729352      NaN      None
1788958  274847          5    729353      NaN      None
1788959  274862          1    729407      NaN      None

[1788960 rows x 5 columns]

In [55]:
tx.loc[0]

tx_id                      1
tx_name    ENST00000456328.2
chrom                   chr1
strand                     +
start                  11869
end                    14409
Name: 0, dtype: object

In [52]:
sum(s["_cds_id"].isnull() == False)

966235

In [50]:
s["_cds_id"].isnull()

0          True
1          True
2          True
3          True
4          True
           ...
1788955    True
1788956    True
1788957    True
1788958    True
1788959    True
Name: _cds_id, Length: 1788960, dtype: bool